body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp2940007.png');
    background-color: #8195cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
body.loaded {
    opacity: 1;
}
.form-container {
    background-color: #c2bfd6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px; /* Reduced from 600px */
    transform: scale(0.9);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: relative; /* To position the icons */
}
.form-container.visible {
    opacity: 1;
    transform: scale(1);
}
h2 {
    font-size: 1.5rem; /* Reduced font size */
}
.form-group {
    margin-bottom: 12px; /* Reduced margin */
    position: relative; /* To position the icon */
}
.form-group label {
    display: block;
    margin-bottom: 4px;
    font-size: 0.9rem; /* Reduced font size */
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 40px; /* Space for the icon */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-group input:focus, .form-group select:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}
.form-group .icon {
    position: absolute;
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #0d0d0e;
    font-size: 16px;
}
.form-group input[type="radio"] {
    width: auto;
    margin-right: 8px;
}
.form-group .gender-label {
    display: inline-block;
    margin-right: 8px;
}
.form-group button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.form-group button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
.back-button {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.back-button:hover {
    background-color: #5a6268;
    transform: translateY(-3px);
}